<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Starter Template for Bootstrap</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/rating.css">
    <style type="text/css">
      .error{
        display: none;
        color: #FF0000;
      }
    </style>
  </head>

  <body ng-app="myApp">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark  fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="add-product.html">Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="trash.html">Trash</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container"  style="margin-top: 70px;">

      <div class="container">
          <form id="add-product-form">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" placeholder="title" maxlength="50">
              <span class="error errTitle">Please enter title</span>
            </div>
            <div class="form-group">
                <label for="imageURL">Product Image</label>
                <input type="text" class="form-control" id="imageURL" placeholder="imageURL">
                <span class="error errImgURL">Please enter image URL</span>
                <span class="error errImgURLValid">Please enter valid image URL</span>
            </div>
            <div class="form-group">
              <label for="prdDesc">Description</label>
              <textarea class="form-control" id="prdDesc" rows="3"></textarea>
              <span class="error errPrdDesc">Product description must be atleast 150 chararcter long</span>
            </div>
            <div class="form-group">
              <label for="price">Price (250-500):<span id="currentPrice"></span></label>
              <input type="range" class="form-control-range" id="price" min="250" max="500">
            </div>
            <div class="form-group">
              <label for="price">Rating</label>
              <input id="rating" name="rating" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value="2">
              <span class="error errRating">Please select rating</span>
            </div>
            <div class="form-group">
              <label>Location</label>
              <div class="form-check">
                <input class="form-check-input city" type="checkbox" value="Ahmedabad" name="city[]">
                <label class="form-check-label" for="defaultCheck1">
                  Ahmedabad
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input city" type="checkbox" value="Vadodra" name="city[]">
                <label class="form-check-label" for="defaultCheck1">
                  Vadodra
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input city" type="checkbox" value="Surat" name="city[]">
                <label class="form-check-label" for="defaultCheck1">
                  Surat
                </label>
              </div>
              <span class="error errLocation">Please select atleast one location</span>
            </div>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="stock" value="in" checked="checked">
              <label class="custom-control-label" for="stock">In Stock</label>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="addProduct()">Add Product</button>
          </form>
      </div>
      <div class="modal addProductUpdates" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <p class="message">Product added successfully.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </main><!-- /.container -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/rating.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#price").change(function(){
          $("#currentPrice").html($(this).val());
        });
        $('#add-product-form').submit(function(e){
          e.preventDefault();
          var error=false,
              cityList = [];
          $('.city:checked').map(function(key,val){cityList.push(this.value)});
          $('.error').hide();
          if($('#title').val()==''){
            error = true;
            $('.errTitle').show();
          }
          if($('#imageURL').val()==''){
            error = true;
            $('.errImgURL').show();
          }else if(!isValidURL($('#imageURL').val())){
            error = true;
            $('.errImgURLValid').show();
          }
          if($('#prdDesc').val()=='' || $('#prdDesc').val().length<150){
            error = true;
            $('.errPrdDesc').show();  
          }
          if($('#price').val()==''){
            error = true;
            $('.errPrice').show();
          }
          if(cityList.length<1){
            error = true;
            $('.errLocation').show();
          }
          if(error){
            return true;
          }
          var products = localStorage.getItem('products');
          products = products && JSON.parse(products) || [];
          var product = {
            'id':products.length+1,
            'title':$('#title').val(),
            'imageURL':$('#imageURL').val(),
            'rating':$("#rating").val(),
            'prdDesc':$('#prdDesc').val(),
            'price':$('#price').val(),
            'location':cityList.join(','),
            'stock':$('#stock').is(':checked')?'in':'out',
            'enabled':1,
            'like':0
          };
          products.push(product);
          localStorage.setItem('products',JSON.stringify(products));
          $('#add-product-form')[0].reset();
          $('.addProductUpdates').modal('show');
        });
        function isValidURL(url){
          return /^(https?|s?ftp):\/\/(((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:)*@)?(((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5]))|((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?)(:\d*)?)(\/((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)?)?(\?((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|[\uE000-\uF8FF]|\/|\?)*)?(#((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|\/|\?)*)?$/i.test(url);
        }
      });
    </script>
  </body>
</html>
