<main role="main" class="container" ng-controller="addProductCtrl">

      <div class="container">
          <form id="add-product-form">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" placeholder="title" ng-model="title">
            </div>
            <div class="form-group">
                <label for="imageURL">Product Image</label>
                <input type="text" class="form-control" id="imageURL" placeholder="imageURL" ng-model="imageURL">
            </div>
            <div class="form-group">
              <label for="prdDesc">Description</label>
              <textarea class="form-control" id="prdDesc" rows="3" ng-model="prdDesc"></textarea>
            </div>
            <div class="form-group">
              <label for="price">Price (250-500)</label>
              <input type="range" class="form-control-range" id="price" min="250" max="500" ng-model="price">
            </div>
            <div class="form-group">
              <label for="price">Rating</label>
              <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value="2" ng-model="rating">
            </div>
            <div class="form-group">
              <label>Location</label>
              <div class="form-check">
                <input class="form-check-input location" type="checkbox" value="" id="defaultCheck1" ng-model="location">
                <label class="form-check-label" for="defaultCheck1">
                  Ahmedabad
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input location" type="checkbox" value="" id="defaultCheck1" ng-model="location">
                <label class="form-check-label" for="defaultCheck1">
                  Ahmedabad
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input location" type="checkbox" value="" id="defaultCheck1" ng-model="location">
                <label class="form-check-label" for="defaultCheck1">
                  Ahmedabad
                </label>
              </div>
            </div>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="stock" ng-model="stock">
              <label class="custom-control-label" for="stock">In Stock</label>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="addProduct()">Add Product</button>
          </form>
      </div>

    </main><!-- /.container -->