<main role="main" class="container">

      <div class="container">
          <div class="row">
            <aside class="col-sm-4">
              <p>Filter</p>
<div class="card">
  <article class="card-group-item">
    <header class="card-header">
      <h6 class="title">Brands </h6>
    </header>
    <div class="filter-content">
      <div class="card-body">
      <form>
        <label class="form-check">
          <input class="form-check-input" type="checkbox" value="">
          <span class="form-check-label">
            Mersedes Benz
          </span>
        </label> <!-- form-check.// -->
        <label class="form-check">
          <input class="form-check-input" type="checkbox" value="">
          <span class="form-check-label">
            Nissan Altima
          </span>
        </label>  <!-- form-check.// -->
        <label class="form-check">
          <input class="form-check-input" type="checkbox" value="">
          <span class="form-check-label">
            Another Brand
          </span>
        </label>  <!-- form-check.// -->
      </form>

      </div> <!-- card-body.// -->
    </div>
  </article> <!-- card-group-item.// -->
  
  <article class="card-group-item">
    <header class="card-header">
      <h6 class="title">Choose type </h6>
    </header>
    <div class="filter-content">
      <div class="card-body">
      <label class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadio" value="">
        <span class="form-check-label">
          First hand items
        </span>
      </label>
      <label class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadio" value="">
        <span class="form-check-label">
          Brand new items
        </span>
      </label>
      <label class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadio" value="">
        <span class="form-check-label">
          Some other option
        </span>
      </label>
      </div> <!-- card-body.// -->
    </div>
  </article> <!-- card-group-item.// -->
</div> <!-- card.// -->




  </aside>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="images/BG178.jpg">
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="detail-page.html" class="btn btn-sm btn-outline-secondary">View</a>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="images/BG178.jpg" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="images/BG178.jpg" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="images/BG178.jpg" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="images/BG178.jpg" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="images/BG178.jpg" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="images/BG178.jpg" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="images/BG178.jpg" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="images/BG178.jpg" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </main><!-- /.container -->