<main role="main" class="container">

      <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="images/BG178.jpg">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="detail-page.html" class="btn btn-sm btn-outline-secondary">Restore</a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="images/BG178.jpg">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="detail-page.html" class="btn btn-sm btn-outline-secondary">Restore</a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="images/BG178.jpg">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="detail-page.html" class="btn btn-sm btn-outline-secondary">Restore</a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="images/BG178.jpg">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="detail-page.html" class="btn btn-sm btn-outline-secondary">Restore</a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </main><!-- /.container -->